# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
